<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
	<Properties>
		<Property name="consoleLogPattern">%d{dd MMM yyyy HH:mm:ss,SSS} [%thread] %level
			%logger %msg %location [%mdc] %throwable%n</Property>
	</Properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${consoleLogPattern}" />
		</Console>
	</appenders>
	<loggers>
		<!-- Error log -->
		<root level="info">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>
