<ng-form name="actionAttributesForm">
<div class="panel panel-default">
		<div class="panel-heading">
			<b>Do</b> this action:
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label">Action 
				    <select required id="selectedActionDefinition" class="form-control"
					   ng-model="selectedActionDefinition" ng-change="onActionDefinitionChange(selectedActionDefinition)" ng-options="actionDefinition.name for actionDefinition in actionDefinitions">
					</select>
				</label>
			</div>
			<div class="form-group"
				ng-repeat="attributeDefinition in attributeDefinitions">
				<label class="control-label">{{attributeDefinition.name}} <span ng-if="!attributeDefinition.required">(Optional)</span>
				    <attribute-input required ng-required="attributeDefinition.required" class="form-control" ng-model="action.parameters[attributeDefinition.uuid]" definition="{{attributeDefinition}}"></attribute-input>
				</label>
			</div>
			<button ng-click="runNow()" ng-disabled="actionAttributesForm.$invalid" class="btn btn-primary">Run Now</button>
		</div>
	</div>  		
</ng-form>
	
	<ng-form name="saveForm">
	<div class="panel panel-default">
		<div class="panel-heading">
			<b>Save</b> for later:
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label">Description
				<input required type="text" class="form-control" ng-model="action.description" /> 
				</label>
			</div>
			<button ng-click="save()" ng-disabled="actionAttributesForm.$invalid || saveForm.$invalid" class="btn btn-primary">Save</button>
            <a ng-if="action.uuid" type="button" class="btn btn-primary" ng-click="deleteAction(action.uuid)">Delete</a>
		</div>
	</div>
  </ng-form>
