<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <span class="glyphicon glyphicon-wrench" style="width: 140px; height: 140px; font-size: 100px;vertical-align: middle;"></span><h2>Create Plans</h2>
          <p>Use Plans to automate household tasks by asking NickNack to run an Action when an Event occurs.</p>
          <p><a class="btn btn-default" href="#/plans" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <span class="glyphicon glyphicon-play-circle" style="width: 140px; height: 140px; font-size: 100px;"></span><h2>Run Actions</h2>
          <p>Need something to happen now? Have NickNack perform any Action immediately.</p>
          <p><a class="btn btn-default" href="#/actionBookmarks" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <span class="glyphicon glyphicon-eye-open" style="width: 140px; height: 140px; font-size: 100px;"></span>
          <h2>Event Stream</h2>
          <p>Watch Events, live, as they happen. Use the Event Stream to find Events for use in Plans.</p>
          <p><a class="btn btn-default" href="#/liveEvents" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- /END THE FEATURETTES -->

    </div>
    
    <style>
    	/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
    </style>