<form name="newPlanForm">
	<div class="panel panel-default">
		<div class="panel-heading">
			<b>When</b> this event occurs:
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="eventType" class="control-label">Event</label> <select id="eventType" class="form-control"
					ng-model="eventType" ng-change="updateAttributeDefinitions()" ng-options="eventDefinition.name for eventDefinition in eventDefinitions">
				</select>
			</div>
				<div class="panel panel-default form-group form-inline" ng-repeat="eventAttributeFilter in formData.eventAttributeFilters track by $index">
					<div class="panel-heading">
						If
					</div>
					<div class="panel-body">
				 <select
					id="eventAttributeType" class="form-control" ng-model="eventAttributeType[$index]"
					ng-change="onAttributeFilterTypeChange()" ng-options="eventAttributeDefinition.name for eventAttributeDefinition in eventAttributeDefinitions">
					</select> <select class="form-control" ng-model="eventAttributeFilter.operator" ng-options="eventAttributeOperator for eventAttributeOperator in eventAttributeOperators">
				</select> <input type="text" class="form-control" ng-model="eventAttributeFilter.operand" list="values{{$index}}"/><datalist id="values{{$index}}"><option ng-repeat="attributeValue in eventAttributeType[$index].values">{{attributeValue}}</option></datalist>
				<button class="btn" ng-click="deleteEventAttributeFilter()"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>
			<button class="btn" ng-click="addEventAttributeFilter()"><span class="glyphicon glyphicon-plus"></span></button>
			
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<b>Do</b> this action:
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="actionType" class="control-label">Action</label> <select id="actionType" class="form-control"
					ng-model="actionType" ng-change="onActionTypeChange()" ng-options="actionDefinition.name for actionDefinition in actionDefinitions">

				</select>
			</div>
			<div class="form-group"
				ng-repeat="actionParameterDefinition in actionParameterDefinitions track by $index">
				<ng-form name="actionParametersForm"> <label>{{actionParameterDefinition.name}}</label>
				<input type="text" class="form-control" ng-model="actionParameterValues[$index]" /> </ng-form>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<label for="newPlanName" class="control-label">Description</label> <input type="text"
					class="form-control" id="newPlanName" ng-model="newPlanName"
					placeholder="Describe your plan...">
			</div>
		</div>
	</div>
	<button class="btn btn-primary" ng-click="submit()">Save Plan</button>
</form>
