<form name="newPlanForm">
	<div class="panel panel-default">
		<div class="panel-heading">
			<b>When</b> this event occurs:
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="eventType" class="control-label">Event</label> <select id="eventType" class="form-control"
					ng-model="eventType" ng-change="updateEventAttributeDefinitions(eventType)" ng-options="eventDefinition.name for eventDefinition in eventDefinitions">
				</select>
			</div>
				<div class="panel panel-default form-group form-inline" ng-repeat="eventAttributeFilterExpression in formData.eventAttributeFilterExpressions track by $index">
					<div class="panel-heading">
						If
					</div>
					<div class="panel-body">
				 <select class="form-control" ng-model="eventAttributeFilterExpression.attributeDefinition"
					ng-change="onEventAttributeFilterTypeChange(eventAttributeFilterExpression, eventType, eventAttributeFilterExpression.attributeDefinition)" ng-options="eventAttributeDefinition.name for eventAttributeDefinition in eventAttributeDefinitions">
					</select> <select ng-disabled="!eventAttributeFilterExpression.attributeDefinition.uuid" class="form-control" ng-model="eventAttributeFilterExpression.operator" ng-options="operator for operator in eventAttributeFilterExpression.attributeDefinition.units.supportedOperators">
				</select> <input ng-disabled="!eventAttributeFilterExpression.attributeDefinition.uuid" type="text" class="form-control" ng-model="eventAttributeFilterExpression.operand" list="values{{$index}}"/><datalist id="values{{$index}}"><option ng-repeat="attributeValue in eventAttributeFilterExpression.attributeDefinition.values">{{attributeValue}}</option></datalist>
				<button class="btn" ng-click="deleteEventAttributeFilter()"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>
			<button class="btn" ng-click="addEventAttributeFilter()"><span class="glyphicon glyphicon-plus"></span></button>
			
		</div>
	</div>
	<div class="panel panel-default">
        <div class="panel-heading clearfix">
            <b>And</b> this condition exists: <button ng-if="stateEnabled" class="btn pull-right" ng-click="disableState()"><span class="glyphicon glyphicon-trash"></span></button><button ng-if="!stateEnabled" class="btn pull-right" ng-click="enableState()"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="panel-body" ng-if="stateEnabled">
            <div class="form-group">
                <label for="stateType" class="control-label">State</label> <select id="stateType" class="form-control"
                    ng-model="stateType" ng-change="updateStateAttributeDefinitions(stateType)" ng-options="stateDefinition.name for stateDefinition in stateDefinitions">
                </select>
            </div>
                <div class="panel panel-default form-group form-inline" ng-repeat="stateAttributeFilterExpression in formData.stateAttributeFilterExpressions track by $index">
                    <div class="panel-heading">
                        If
                    </div>
                    <div class="panel-body">
                 <select class="form-control" ng-model="stateAttributeFilterExpression.attributeDefinition"
                    ng-change="onStateAttributeFilterTypeChange()" ng-options="stateAttributeDefinition.name for stateAttributeDefinition in stateAttributeDefinitions">
                    </select> <select ng-disabled="!stateAttributeFilterExpression.attributeDefinition.uuid" class="form-control" ng-model="stateAttributeFilterExpression.operator" ng-options="operator for operator in stateAttributeFilterExpression.attributeDefinition.units.supportedOperators">
                </select> <input ng-disabled="!stateAttributeFilterExpression.attributeDefinition.uuid" type="text" class="form-control" ng-model="stateAttributeFilterExpression.operand" list="values{{$index}}"/><datalist id="values{{$index}}"><option ng-repeat="attributeValue in stateAttributeFilterExpression.attributeDefinition.values">{{attributeValue}}</option></datalist>
                <button class="btn" ng-click="deleteStateAttributeFilter()"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
            <button class="btn" ng-click="addStateAttributeFilter()"><span class="glyphicon glyphicon-plus"></span></button>
            
        </div>
    </div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<b>Do</b> this action:
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="actionType" class="control-label">Action</label> <select id="actionType" class="form-control"
					ng-model="actionType" ng-change="onActionTypeChange()" ng-options="actionDefinition.name for actionDefinition in actionDefinitions">

				</select>
			</div>
			<div class="form-group"
				ng-repeat="actionParameterDefinition in actionParameterDefinitions track by $index">
				<ng-form name="actionParametersForm"> <label>{{actionParameterDefinition.name}}</label>
				<input type="text" class="form-control" ng-model="actionParameterValues[$index]" /> </ng-form>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<label for="newPlanName" class="control-label">Description</label> <input type="text"
					class="form-control" id="newPlanName" ng-model="newPlanName"
					placeholder="Describe your plan...">
			</div>
		</div>
	</div>
	<button class="btn btn-primary" ng-click="submit()">Save Plan</button>
</form>
