<h2 class="sub-header">Plans</h2>
<div>
<a type="button" href="#/newPlan" class="btn btn-primary">Create New</a>
</div>
<br>
<div class="well clearfix" ng-repeat="plan in plans track by $index">
   	<span class="h4">{{plan.name}}</span>
   	<div class="pull-right">
     	<a type="button" href="#/plans/{{plan.uuid}}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
   		<a type="button" ng-click="deletePlan(plan.uuid)" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i> Delete</a>
   	</div>
</div>  

  
