  <form name="newPlanForm" ng-submit="submit()">
 <div class="panel panel-default">
		<div class="panel-heading">
			<b>Do</b> this action:
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="actionType" class="control-label">Action</label> <select id="actionType" class="form-control"
					ng-model="actionType" ng-change="onActionTypeChange()">
					<option
						ng-repeat="actionDefinition in actionDefinitions track by $index"
						value="{{actionDefinition}}">{{actionDefinition.name}}</option>
				</select>
			</div>
			<div class="form-group"
				ng-repeat="actionParameterDefinition in actionParameterDefinitions track by $index">
				<ng-form name="actionParametersForm"> <label class="control-label">{{actionParameterDefinition.name}}</label>
				<input type="text" class="form-control" ng-model="actionParameterValues[$index]" /> </ng-form>
			</div>
		</div>
	</div>  		
	<button type="submit" class="btn btn-primary">Run</button>
  </form>
