<html ng-app="nicknackApp">
<head>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/rfc6570/rfc6570.js"></script>
   <script src="bower_components/angular-hal/angular-hal.js"></script>
   <script src="js/controllers.js"></script>
   <script src="js/services.js"></script>
</head>
<body ng-controller="PlansCtrl">
  <h1>Plans</h1>
  
  <div ng-repeat="plan in plans track by $index">
  	{{plan.name}} 
  	<button ng-click="deletePlan(plan.uuid)">Delete</button>
  </div>
  
  <a href="new_plan.html">New Plan</a>

</body>
</html>	